link(rel='stylesheet', href='/lib/jquery.mobile-1.1.0.min.css')
link(rel='stylesheet', href='/lib/d.css')
link(rel='stylesheet', href='/css/style.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/js/main.js')
script(src='/lib/jquery.mobile-1.1.0.min.js')
