
div#page-main(data-role='page')
  div(data-role='header')
    h1 b@mobile

  div(data-role='content')
    include write
    ul#posts(data-role='listview', data-inset='true')
      - each post in data
        include post
