
div#page-main(data-role='page', data-dom-cache='true')
  div(data-role='header')
    h1 b@mobile

  div(data-role='content')
    include write
    ul#posts(data-role='listview')
      - each post in data
        include post
