
div#page-main(data-role='page', data-dom-cache='true')
  div(data-role='header')
    a.ui-btn-left(href='/search', data-role='button', data-icon='search', data-iconpos='notext') Search
    h1 b@mobile
    a.ui-btn-right(href='javascript:document.location.reload()', data-role='button', data-icon='refresh', data-iconpos='notext') Refresh

  div(data-role='content')
    include write
    ul#posts(data-role='listview')
      - each post in data
        include post

    div(style='text-align:center')
      h3(style='text-decoration:underline', onClick='loadMore()') Load More
