div#page-main(data-role='page', data-dom-cache='true')
  div(data-role='header')
    a.ui-btn-left(href='/search', data-role='button', data-icon='search', data-iconpos='notext', data-rel='dialog') Search
    h1 b@mobile
    a.ui-btn-right(href='javascript:document.location.reload()', data-role='button', data-icon='refresh', data-iconpos='notext') Refresh

  div(data-role='content')
    include write
    ul#posts(data-role='listview', style='margin-top:15px')
      - each post in data
        include post

    div(style='text-align:center;padding-top:20px;')
      h3#loadmore.pointy(style='text-decoration:underline', onClick='loadMore()') Load More
script
  setInterval(function() {
    $.getJSON('/posts/since/' + lastUpdated, function(data) {
      $(data.add).hide().prependTo('#posts').fadeIn();
      $('#posts').listview('refresh');
      $('.prettydate').prettyDate();
    });
    lastUpdated = new Date().getTime();
  }, 30000);
  mixpanel.track('main');
